---
// src/layouts/MainLayout.astro
import Navbar from "../components/Layouts/Navbar.astro";
import Footer from "../components/Layouts/Footer.astro";
import "../styles/global.css";
import "../styles/fonts.css";

const {
  title,
  description = "VF Immobilien | Verwaltung, gebaut auf Vertrauen.", // Add a default for non-property pages
  ogImage = "/astro/src/assets/images/default-share-image-min.png",
  ogTitle = title,
} = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link
      rel="preload"
      href="/astro/public/logos/Viki-new-logo-only-green-1.svg"
      as="image"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/astro/public/logos/Viki-new-logo-only-green-1.svg"
    />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={Astro.url.href} />
  </head>

  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
