---
import SubheaderSVG from "./SubheaderSVG.astro";
interface Props {
  header: string;
  subheader?: string;
  text: string;
  subheaderSVGColor?: string;
  subheaderColor?: string;
  headerColor?: string;
  textColor?: string;
  textSize?: string;
}

const {
  header,
  subheader = "",
  text,
  subheaderSVGColor = "var(--color-brand-light-green)",
  subheaderColor = "var(--color-brand-green)",
  headerColor = "var(--color-brand-medium-green)",
  textColor = "var(--color-neutral-font-dark)",
  textSize,
} = Astro.props;
---

<div class="section-header">
  {
    subheader && (
      <SubheaderSVG
        class="subheader-div"
        subheader={subheader}
        subheaderSVGColor={subheaderSVGColor}
        subheaderColor={subheaderColor}
      />
    )
  }
  <h2 class="section-header-h2">{header}</h2>
  <p class="section-header-p" set:html={text} />
</div>

<style
  define:vars={{
    headerColor: headerColor,
    textColor: textColor,
    subheaderColor: subheaderColor,
    textSize: textSize,
  }}
>
  .section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-bottom: var(--spacing-2xl);
    gap: var(--spacing-2xl);
  }

  .section-header-h2 {
    color: var(--headerColor);
  }
  .section-header-p {
    color: var(--textColor);

    font-size: var(--textSize, var(--font-size-body-base));
  }
  .subheader-div {
    justify-content: flex-start;
  }
</style>
